<h1 class='text-muted text-center my-2'>@ViewBag.HobbyDetails.HobbyName</h1>

<h5>Description: @ViewBag.HobbyDetails.Description</h5> <br><br>
<a class="btn btn-outline-dark" href="/edit/@ViewBag.HobbyDetails.HobbyId">Edit Hobby</a> <br>

<hr><br><br>

<h5 class='d-flex justify-content-left'>@ViewBag.HobbyDetails.HobbyName Enthusiasts</h5>
<table class="table table-sm table-striped">
    <thead>
        <th>Name</th>
        <th>Proficiency</th>
        
    </thead>
    <tbody>
        @foreach(var item in ViewBag.HobbyDetails.Enthusiasts){
            <tr>
                <td>@item.User.FirstName @item.User.LastName</td>
                <td>@item.Proficiency</td>
            </tr>
        }
    </tbody>
</table>

<br><br>
<form asp-action="AddEnthusiasts" asp-controller="User">
    <h5>Become on Enthusiasts!</h5>
        <select name="Proficiency">
            <option value="Novice">Novice</option> 
            <option value="Intermediate">Intermediate</option> 
            <option value="Expert">Expert</option> 
        </select>
    <input type="hidden" value="@ViewBag.HobbyDetails.HobbyId" name="HobbyId">
    <button>Add to Hobbies</button>
</form>
